<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lawn_care"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <!--Permissions-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.

   READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--Google MAP API key-->

    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyDKymeBXNeiFWY5jRUejv6zItpmr2MVyQ0" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".adminViewProperties"></activity>
        <activity android:name=".viewUserList" />
        <activity android:name=".editYourProperty"></activity>
        <uses-library android:required="true" android:name="com.google.android.maps" />
        <activity android:name=".PropertyPage"></activity>
        <activity
            android:name=".workOffered"

            android:theme="@style/AppTheme.CustomTheme"></activity>
        <activity android:name=".viewYourWorkerProfile" />
        <activity android:name=".viewYourProperties" />
        <activity android:name=".addWorkerProfile" />
        <activity android:name=".addProperty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignIn">

        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".dash" />

        <activity android:name=".AboutUs" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJHjjnsfdR_4NwXkPMPz5Cz_zdgZcja48" />
    </application>

</manifest>